

#part-image{
  height: 25vh;
    object-fit: contain;
  
    font-family: 'Federant', cursive;
    font-weight: bolder;
}
 .part-edit-button,.part-delete-button,.part-create-button{
  background-color: black;
  color: white;
  border: none;
  
  font-family: 'Federant', cursive;
  font-weight: bolder;

 }

 .part-edit-button,.part-delete-button{
  margin: 15px;
  width: 7vw;
 
  font-family: 'Federant', cursive;
  font-weight: bolder;
 }

 .part-create-button{
   margin: 40px;
   width: 32vw;
   height: 45px;
    font-size: xx-large;
 }
 .Engine-name{
  background-image: url("https://images.unsplash.com/photo-1550897991-cc952b309ac0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGVuZ2luZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  
}
  
  .Turbo-name{
    background-image: url("https://images.unsplash.com/photo-1609773500493-ba6c7a08ef78?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dHVyYm98ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  }
  
  .Suspension-name{
    background-image: url("https://images.unsplash.com/photo-1610876126529-fb3aa7e9abc1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3VzcGVuc2lvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  }
  .Tires-name{
    background-image: url("https://images.unsplash.com/photo-1573939843624-b22996c1a31c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHRpcmVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  }
  
  .Engine-name,.Suspension-name,.Tires-name,.Turbo-name{
    height: 25vh;
    margin: 0px 0px 0px 0px;
    font-family: 'Federant', cursive;
    font-weight: bolder;
  }

  .category-parts{
    display: flex;
    font-family: 'Federant', cursive;
    font-weight: bolder;
  }

  .middle-section{
    display: flex;
    flex-direction: column;
    width: 38%;
   
    font-family: 'Federant', cursive;
    font-weight: bolder;
  }

  .right-image,.left-image{
    object-fit: cover;
  
    font-family: 'Federant', cursive;
    font-weight: bolder;
  }
  .right-image{
    width: 32%;
  }
  .left-image{
    width:30vw;
  }

  @media (max-width:768px){
    .Engine-name,.Suspension-name,.Tires-name,.Turbo-name{
      color: yellow;
    }

    .part-edit-button,.part-delete-button{
      margin: 15px;
      width: 73px;
     
      font-family: 'Federant', cursive;
      font-weight: bolder;
     }
  }

  @media (max-width:727px) {
    .left-image,.right-image{
      width: 20vw;
    }

    .middle-section{
      width: 60vw;
    }
    
  }