.part-create-container {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  background-color:black;
  width: 600px;
  text-align: center;
  border: 1px solid red;
  color: white;
  padding: 3em 5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Federant', cursive;
  font-weight: bolder;
}
.part-create-form-container{
  background-image: url("https://images.unsplash.com/photo-1567965850174-8f5f68f5a1bd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmlzc2FuJTIwMzUwenxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  font-family: 'Federant', cursive;
  font-weight: bolder;
}


.part-create-container label {
  
  font-size: 40px;
  font-family: 'Federant', cursive;
  font-weight: bolder;
}

.part-create-form > input {
  background: #ebebeb;
  border: none;
  box-shadow: inset -3px 5px 7px 0px rgb(0 0 0 / 20%);
  padding: 10px;
  
  font-size: 12px;
  margin: 3em 0;
  font-family: 'Federant', cursive;
  font-weight: bolder;
}

.part-create-button {
  background-color: #e40f0f;
  color: white;
  padding: 10px 26px;
  font-size: 14px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Federant', cursive;
  font-weight: bolder;
}

.add-part-title{
  font-family: 'Federant', cursive;
  font-weight: bolder;
  font-size: 35px;
}


@media (max-width:653px){
  .part-create-container {
    display: flex;
    flex-direction: column;
    background-color:black;
    width: 83%;
    text-align: center;
    border: 1px solid red;
    color: white;
    padding: .5em 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 63px;

  }

  .part-edit-form > input {
    background: #ebebeb;
    border: none;
    box-shadow: inset -3px 5px 7px 0px rgb(0 0 0 / 20%);
    padding: 10px;
    
    font-size: 12px;
    margin: .5em 0;
    
  }

}

@media (max-width:594px){

  .part-create-button{
    width: 94%;
  }
}
